{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",

  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-organize-imports"
  ]
}
