<form class="container mx-auto px-4 md:px-0 max-w-[100%] md:max-w-[80%]" [formGroup]="billingForm">
    <div class="flex flex-col gap-4">
        <div class="w-full bg-white dark:bg-slate-700 shadow-xl mb-6 md:mb-4 rounded-lg p-8">
            <h2
                class="font-cinzel text-2xl md:text-3xl leading-tight text-indigo-900 dark:text-white mb-4"
            >
                Standard Fireworks Discount 💥
            </h2>
            <div class="space-y-4">
                <label
                    class="block text-sm font-inter text-indigo-900 dark:text-white mb-2 after:content-['*'] after:text-red-700 dark:after:text-red-400 after:ml-1"
                    for="standardDiscount"
                >
                    Select Discount
                </label>
                <select
                    class="w-full dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                    id="standardDiscount"
                    formControlName="discount"
                >
                    <option class="dark:bg-transparent dark:text-black" value="" disabled selected>
                        Select a percentage
                    </option>
                    @for (discount of discountDropDownOptions(); track discount.id) {
                        <option
                            class="dark:bg-transparent dark:text-black"
                            [value]="discount.discount"
                        >
                            {{ discount.value }}
                        </option>
                    }
                </select>
                @if (
                    billingForm.get('discount')?.touched &&
                    billingForm.get('discount')?.hasError('required')
                ) {
                    <div class="text-red-500 text-sm">Discount is required</div>
                }
                <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-4">
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2"
                            for="name"
                        >
                            Customer Name
                        </label>
                        <input
                            class="w-full placeholder:text-indigo-900 dark:placeholder:text-white dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="name"
                            formControlName="name"
                            type="text"
                            placeholder="Enter customer name"
                        />
                        @if (
                            billingForm.get('name')?.touched &&
                            billingForm.get('name')?.hasError('required')
                        ) {
                            <div class="text-red-500 text-sm">Customer Name is required</div>
                        }
                    </div>
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2"
                            for="number"
                        >
                            Customer Mobile Number
                        </label>
                        <input
                            class="w-full placeholder:text-indigo-900 dark:placeholder:text-white dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="number"
                            formControlName="number"
                            type="number"
                            placeholder="Enter customer number"
                        />
                        @if (
                            billingForm.get('number')?.touched &&
                            billingForm.get('number')?.hasError('pattern')
                        ) {
                            <div class="text-red-500 text-sm">
                                Customer Mobile Number is required
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-white dark:bg-slate-700 shadow-xl mb-6 md:mb-0 rounded-lg p-8">
            <h2
                class="font-cinzel text-2xl md:text-3xl leading-tight text-indigo-900 dark:text-white mb-4"
            >
                Item Details 🛍️
            </h2>
            <div class="space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2 after:content-['*'] after:text-red-700 dark:after:text-red-400 after:ml-1"
                            for="company"
                        >
                            Select Company
                        </label>
                        <select
                            class="w-full dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="company"
                            formControlName="company"
                        >
                            <option
                                class="dark:bg-transparent dark:text-black"
                                value=""
                                disabled
                                selected
                            >
                                Select Company
                            </option>
                            @for (company of companyDropdown(); track company.id) {
                                <option
                                    class="dark:bg-transparent dark:text-black"
                                    [value]="company.item"
                                >
                                    {{ company.item }}
                                </option>
                            }
                        </select>
                        @if (
                            billingForm.get('company')?.touched &&
                            billingForm.get('company')?.hasError('required')
                        ) {
                            <div class="text-red-500 text-sm">Company is required</div>
                        }
                    </div>
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2 after:content-['*'] after:text-red-700 dark:after:text-red-400 after:ml-1"
                            for="category"
                        >
                            Select Category
                        </label>
                        <select
                            class="w-full dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="category"
                            formControlName="category"
                        >
                            <option
                                class="dark:bg-transparent dark:text-black"
                                value=""
                                disabled
                                selected
                            >
                                Select Category
                            </option>
                            @for (category of categoryDropdown(); track category.id) {
                                <option
                                    class="dark:bg-transparent dark:text-black"
                                    [value]="category.item"
                                >
                                    {{ category.item }}
                                </option>
                            }
                        </select>
                        @if (
                            billingForm.get('category')?.touched &&
                            billingForm.get('category')?.hasError('required')
                        ) {
                            <div class="text-red-500 text-sm">Category is required</div>
                        }
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-4">
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2 after:content-['*'] after:text-red-700 dark:after:text-red-400 after:ml-1"
                            for="mrp"
                        >
                            MRP/Net Rate
                        </label>
                        <input
                            class="w-full placeholder:text-indigo-900 dark:placeholder:text-white dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="mrp"
                            formControlName="MRP"
                            type="number"
                            placeholder="Enter MRP/Net Rate"
                        />
                        @if (
                            billingForm.get('MRP')?.touched &&
                            billingForm.get('MRP')?.hasError('required')
                        ) {
                            <div class="text-red-500 text-sm">MRP/Net Rate is required</div>
                        }
                    </div>
                    <div>
                        <label
                            class="block text-sm font-inter text-indigo-900 dark:text-white mb-2 after:content-['*'] after:text-red-700 dark:after:text-red-400 after:ml-1"
                            for="quantity"
                        >
                            Quantity
                        </label>
                        <input
                            class="w-full placeholder:text-indigo-900 dark:placeholder:text-white dark:bg-transparent dark:text-white mb-4 p-2 border border-indigo-200 dark:border-amber-200 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 dark:focus:ring-amber-400"
                            id="quantity"
                            formControlName="quantity"
                            type="number"
                            placeholder="Enter Quantity"
                        />
                        @if (
                            billingForm.get('quantity')?.touched &&
                            billingForm.get('quantity')?.hasError('required')
                        ) {
                            <div class="text-red-500 text-sm">Quantity is required</div>
                        }
                    </div>
                </div>
                <div class="w-full flex items-center justify-center mt-2">
                    <div class="flex justify-between gap-4 items-center flex-col md:flex-row">
                        <app-button (buttonClicked)="addItem()">Add item +</app-button>
                        <div>
                            <app-button (buttonClicked)="calculateTotal()">
                                Calculate Total
                            </app-button>
                            @if (selectAtLeastOneitem()) {
                                <div class="text-red-500 text-sm">Quantity is required</div>
                            }
                        </div>
                        <app-button (buttonClicked)="newBill()">New Bill</app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@if (showItems()) {
    @for (item of items(); track item.slNo) {
        <app-items [item]="item" (toEdit)="onEdited($event)" (toDelete)="deleteItem($event)" />
    }
}
@if (showTotal()) {
    <div class="" #scroll>
        <app-grand-total
            [grandTotal]="totalCost()"
            (generateBill)="generateBill()"
            (previewBill)="previewBill()"
            (comparePrices)="comparePrices()"
            (newBill)="newBill()"
        />
    </div>
}
@if (showComparisons()) {
    <div #comparison>
        <app-bill-comparison
            [allBillComparisons]="billComparison()"
            (finalize)="finalizedBill($event)"
        />
    </div>
}
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" header="">
    <app-spinner class="flex items-center justify-center" />
</p-dialog>
<p-toast position="bottom-right" key="br" />
